*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#burguir{
    display: none;
}

body{
    font-size: 16px;
    background-color: #fdd4da;
}

header {
    width: 100%;
    display: flex;
    background-color: #ffd2a9;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    flex-basis: auto;
    gap: 5%;
}

header a{
    text-decoration: none;
    color: white;
}

header img, footer img{
    height: 150px;
    width: 250px;
}

nav{
    display: flex;
    justify-content: right;
    padding: 3%;
    height: 40%;

}

nav ul{
    display: flex;
    gap: 10%;
    justify-content: space-around;
    
}

nav ul li{
    list-style: none;
    display: inline-block;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.registro{
    display: flex;
    justify-content: center;
    gap: 15px;
    height: 150px;
    width: 250px;
    align-items: center;
}

.registro a{
    text-decoration: none;
    color: white;
}

.registro i{
    font-size: 25px;
}

.perfil {
    border: 1px solid black;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    text-align: center;
}

.bloqInfoMov{
    display: none;
}

footer{
    display: flex;
    background-color: #ffd2a9;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    position: relative;
    margin-bottom: 0;
    width: 100%;
    gap: 5%;
}

.bloqInfo{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    margin-top: 25px;
}

footer ul{
    list-style: circle;
}

footer ul li{
    list-style: circle;
    margin-bottom: 5px;
}

footer a{
    text-decoration: none;
    color: white;
}
.bloqf{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
}

.bloqf a{
    width: 50px;
    height:50px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    border-radius: 5px;
}

.redes{
    margin-top: 30px;
}

.iconos{
    font-size: 25px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.bloqf p{
    align-self: baseline;
}

.twitter:hover{
    background-color: #55acee;
}

.facebook:hover{
    background-color: #3b5998;
}

.tiktok:hover{
    background-color: #0f0f14;
    text-shadow: 1px 3px #c0045c;
}

.instagram:hover{
    background-image: linear-gradient(#c0045c, yellow);
}

@media(max-width:1000px){

    header nav{
        display: none;
    }

    #burguir{
        display: block;
        width: 50px;
        height: 50px;
        background-color: none;
        transition: all 0.3s ease-in-out;
        text-align: center;
    }

    .hamburguesa i{
        font-size: 30px;
        text-align: center;
        margin-top: 10px;
    }

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .registro{
        width: 30px;
        height: 100%;
    }

    .bloqInfo, footer ul, .registro a{
        display: none;
    }


    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 16px;
    }

    .bloqInfoMov{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .bloqf{
        display: flex;
        text-align: center;
    }


    .iconos{
        justify-content: center;
    }



}