* h2{
    font-size: 2em;
    font-weight: bold;
}

.banner{
    width: 100%;
    height: max-content;
    text-align: center;
    padding: 2%;
    color: #ff65be;
    background-color: #ffd2a9;
    border-top: 10px dotted #fff0a4;
}

.banner h1{
    font-weight: bold;
}

.faq{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    
}

.faq_titulo{
    grid-column-start: 1;
    grid-column-end: span 2;
    text-align: center;
}

.faq_titulo h2{
    font-size: 2em;
    font-weight: bold;
}

.pregunta{
    margin: 10px;
    max-width: 100%;
    border: 2px solid #ff65be;
    border-radius: 10px;
    padding: 1rem;
    background-color: #ffa4b2;
}

.accordion-header:hover{
    cursor: pointer;
}

.accordion-button{
    font-size: 0.75em;
    font-weight: bold;
}

.respuesta{
    display: none;
    opacity: 0;
}

.respuesta.activo{
    display: block;
    opacity: 1;
}

.consultas{
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.preconsulta{
    border: 2px solid #ff65be;
    width: 50%;
    padding: 10% 50px;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.contForm{
    background-color: #ffa4b2;
    border: 2px solid #ff65be;
    border-left: none;
    width: 50%;
    padding: 5%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

form input{
    height: 30px;
    padding: 8px 18px;
    margin-bottom: 10px;
}

textarea
{
  width: 100%;
  padding: 8px 18px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 100px;
  min-height: 50px;
  resize: none;
}

.enviar{
    width: 40%;
    height: 40px;
    border-radius: 60px;
    background-color: #ffd2a9;
    margin-top: 15px;
}

.enviar:hover{
    cursor: pointer;
}

.enviar:active{
    scale: 0.95;
    background-color: #fff0a4;
}

.trabajo{
    background-color: #ffa4b2;
    border: 2px solid #ff65be;
    height: max-content;
    margin: 10px 20px;
    text-align: center;
    padding: 2% 22%;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.trabajo a{
    text-decoration: none;
    color: black;
}

.trabajo a:hover{
    text-decoration: underline;
}

@media screen and (max-width:700px) {
    

    .faq{
        display: flex;
        flex-direction: column;
    }

    .pregunta{
        width: 100%;
    }

    .consultas{
        flex-direction: column;
    }

    .contForm, .preconsulta{
        width: 100%;
    }

    .contForm{
        border-left: 2px solid #ff65be;
    }
}

