*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slider{
    overflow: hidden;
}

.slider--inner{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: all 0.5s ease-in;
    align-items: center;

    height: 700px;
}

.slider--inner img{
    width: 100%;
    height: 100%;
    min-width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.contenido{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

article{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
}

article .texto{
    background-color: #ffa4b2;
    opacity: 0.9;
    width: 50%;
    height: 300px;
    border: 2px solid #ff65be;
    align-content: center;
    text-align: center;
}

article .texto h2{
    margin-top: 16px;
}

article .texto p{
    margin: 16px 6%;

}
article img{
    width: 40%;
    height: 400px;
}