*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.galeria{
    display: flex;
    width: 600px;
    height: 430px;
}

.galeria img{
    display: flex;
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
}

.galeria img:hover{
    display: flex;
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}