.menuFiltros{
    display: none;
}

.registro span{
    font-size: 1.7em;
}

.banner{
    width: 100%;
    height: max-content;
    text-align: center;
    padding: 3%;
    color: #ff65be;
    background-color: #ffd2a9;
    border-top: 10px dotted #fff0a4;
}

.circulos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: 3% 3%;
    flex-wrap: wrap;
}

.opcion{
    height: 250px;
    width: 200px;

}

.opcion img{
    border-radius: 100%;
    height: 200px;
    width: 200px;
    border: 2px solid #ff65be;
}
.opcion img:hover{
    transform: scale(1.1);
}

.productos{
    margin: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;

}

.tarjeta{
    width: 300px;
    height: max-content;
    background-color: #ffa4b2;
    border: 2px solid #ff65be;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-bottom: 20px;
}

.tarjeta img{
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
}

.tarjeta input{
    width: 100%;
    height: 40px;
    border-radius: 60px;
    background-color: #ffd2a9;
    margin-top: 15px;
}

.tarjeta input:hover{
    cursor: pointer;
}

.tarjeta input:active{
    scale: 0.95;
    background-color: #fff0a4;
}

@media screen and (max-width:700px){
    
    .menuFiltros{
        display: block;
        padding-left: 40%;
        margin: 25px;
    }

    span{
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
    }

    .circulos{
        display: none;
    }

    .abrir-filtro, .cerrar-filtro{
        display: block;
        background: none;
        border: none;
        font-size: 30px;
        width: 30px;
        height: 30px;
    }

    .abrir-filtro:hover, .cerrar-filtro:hover{
        cursor: pointer;
    }

    .despFiltros{
        opacity: 0;
        visibility: hidden;
    }

    .despFiltros{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        position: absolute;
        top: 45%;
        left: 0;
        height: 400px;
        width: 100%;
        background-color: #ffd2a9;
        padding: 4rem;
        box-shadow: 0 0 0 1000vmax rgba(0, 0, 0, .4);
    }

    .despFiltros.visible{
        opacity: 1;
        visibility: visible;
    }

    .despFiltros ul{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2em;
        list-style: none;
    }

    .despFiltros ul a{
        color: #ff65be;
        text-decoration: none;
        font-weight: bold;
    }

    .despFiltros ul a:hover{
        text-decoration: underline;
    }



}